 {% extends 'base/base.html' %}{% block content %}



<div class="page-content-wrapper" style="background: #4276A4;">
    <div class="page-content">

        <div class="portlet light bordered" style="width: 40%; margin: auto;">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="fa fa-book font-red"></i>
                    <span class="caption-subject bold uppercase"> Registro de Paciente </span>

                </div>
                <div style="text-align: right;">
                    <a class="btn green float-right" style="height: 25px; padding: 0px 5px 2px 5px ; margin: 10px 0px 2px 0px; " href="{% url 'RegistroPaciente' %} ">Atrás<i class="fa fa-reply"></i></a>

                </div>

            </div>



            <form action="" method="POST">
                {% csrf_token %}

                {{miformulario}}
              <input type="submit" class="btn blue" style="margin: 10px" value="Guardar">

                    </form>
                </div>
        </div>

    </div>
</div>



{% endblock content %}